/* 1.General styles */
:root {
    --bs-body-font-family: "Montserrat", sans-serif;
}

:root {
    --c-primary: #32444E;
    --c-secondary: #587175;
    --c-dark: #2A2328;
    --c-light: #E2E5EC;
    --c-info: #46653C;
}

.text-justify {
    text-align: justify;
}

.bio-tbox {
    background-color: hsla(188, 14%, 40%, 0.2) !important;
}

/* 2.Component styles */
/* 2.1.Navbar styles */

.navbar {
    background-color: var(--c-primary);
}

.navbar-brand {
    color: var(--c-light) !important;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: var(--c-info) !important;
}

/* Navbar links */

.navbar .nav-link {
    color: var(--c-light) !important;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    padding: 8px 15px;
}

.navbar .nav-link:hover {
    background-color: var(--c-secondary);
    color: var(--c-light) !important;
}

/* Active link indicator */

.navbar .nav-item.active .nav-link {
    background-color: var(--c-info);
    color: var(--c-light) !important;
}

/* 2.2.Footer styles */

footer {
    background-color: var(--c-dark);
    color: var(--c-light);
    padding: 20px;
    text-transform: none;
}

.footer-social a {
    color: var(--c-light);
    font-size: 1.5em;
    margin-right: 15px;
    text-decoration: none;
    text-transform: none;
}

.footer-social i {
    text-decoration: none;
    text-transform: none;
}

.footer-social a:hover {
    color: var(--c-info);
}

.custom-input {
    background-color: var(--c-light);
    color: var(--c-primary);
}

.custom-button {
    background-color: var(--c-secondary);
    color: var(--c-light);
}

/* 3.Page styles*/
/* 3.1.Index*/
/* 3.1.1.Hero section*/
.hero-video-container {
    height: 45vh;
}

.hero-video {
    object-fit: cover;
    height: 400px;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
}

/* 3.2.Biomes*/
/*3.2.1. Navigation cards*/
     
.nav-link {
    --bs-nav-pills-link-active-bg:transparent !important;
}

.nav-link .card {
    transition: transform 0.5s ease; 
}

.nav-link:hover .card,
.nav-link:focus .card,
.nav-link.active .card {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); 
}