/* 1.General styles */
:root {
    --bs-body-font-family: "Montserrat", sans-serif;
  }
  
  :root {
    --c-primary: #32444e;
    --c-secondary: #587175;
    --c-dark: #2a2328;
    --c-light: #e2e5ec;
    --c-info: #46653c;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .scroll-space {
    min-height: 400px;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .bio-tbox {
    background-color: hsla(188, 14%, 40%, 0.2) !important;
  }
  
  /* 2.Page styles */
  /* 2.1.Navbar styles */
  
  .navbar {
    background-color: var(--c-primary);
  }
  
  .navbar-brand {
    color: var(--c-light) !important;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-brand:hover {
    color: var(--c-info) !important;
  }
  
  /* Navbar links */
  
  .navbar .nav-link {
    color: var(--c-light) !important;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    padding: 8px 15px;
  }
  
  .navbar .nav-link:hover {
    background-color: var(--c-secondary);
    color: var(--c-light) !important;
  }
  
  /* Active link indicator */
  
  .navbar .nav-item.active .nav-link {
    background-color: var(--c-info);
    color: var(--c-light) !important;
  }
  
  /* 2.2.Footer styles */
  
  footer {
    background-color: var(--c-dark);
    color: var(--c-light);
    padding: 20px;
    text-transform: none;
  }
  
  .footer-social a {
    color: var(--c-light);
    font-size: 1.5em;
    margin-right: 15px;
    text-decoration: none;
    text-transform: none;
  }
  
  .footer-social i {
    text-decoration: none;
    text-transform: none;
  }
  
  .footer-social a:hover {
    color: var(--c-info);
  }
  
  .custom-input {
    background-color: var(--c-light);
    color: var(--c-primary);
  }
  
  .custom-button {
    background-color: var(--c-secondary);
    color: var(--c-light);
  }
  
  /* 3.Component styles*/
  /* 3.1.Hero section */
  .hero-video-container {
    height: 45vh;
  }
  
  .hero-video {
    object-fit: cover;
    height: 400px;
  }
  
  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
  }
  
  .nav-pills {
    --bs-nav-pills-link-active-bg: #0d6e1d !important;
  }
  
  /* Hero secton fade-in animation */
  .hero-section {
    opacity: 0; /* Start hidden */
    animation: fadeIn 1.5s ease-in-out forwards; /* Trigger animation */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }